<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Config Test Page</title>
  </head>
  <body>
    <h1>Config activity form</h1>
    <form>
      <h4>Title:</h4>
      <input type="text" id="title" name="title" />
      <h4>Summary:</h4>
      <textarea id="summary" name="summary" rows="4" cols="50"></textarea>
      <h4>Url of docs:</h4>
      <input type="text" id="doc" name="doc" />
      <button>Add more docs</button>
      <h4>Tip info:</h4>
      <textarea id="tip" name="tip" rows="2" cols="50"></textarea>
      <h4>Correct Answer:</h4>
      <textarea id="answer" name="answer" rows="4" cols="50"></textarea>
      <br />
      <br />
      <button type="submit" href="">Submit</button>
    </form>
  </body>
</html>
