<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API - Activity Provider</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <section class="sect3" id="contact">
      <div class="container-fluid">
        <div class="text-center pt-5 pb-5">
          <h1>Arquitetura e Padrões de Software</h1>
          <p></p>
          <h2>Activity Provider</h2>
          <img src="https://cdn-icons-png.flaticon.com/512/603/603197.png" alt="api_img" />
          <p></p>
          <div class="json">
            <pre>
              <span>{</span> 
              <span class="green">"name"</span>: <span class="blue">"CSS Challenge"</span>, 
              <span class="green">"config_url"</span>: <span class="blue">"<a href="https://api-aps.herokuapp.com/activity_config.html" style="text-decoration: none !important">https://api-aps.herokuapp.com/activity_config.html</a>"</span>, 
              <span class="green">"json_params_url"</span>: <span class="blue">"<a href="https://api-aps.herokuapp.com/json_params_url" style="text-decoration: none !important">https://api-aps.herokuapp.com/json_params_url</a>"</span>,
              <span class="green">"analytics_list_url"</span>: <span class="blue">"<a href="https://api-aps.herokuapp.com/analytics_list" style="text-decoration: none !important">https://api-aps.herokuapp.com/analytics_list</a>"</span>,
              <span class="green">"user_url"</span>: <span class="blue">"<a href="https://api-aps.herokuapp.com/deploy_activity" style="text-decoration: none !important">https://api-aps.herokuapp.com/deploy_activity</a>"</span>, 
              <span class="green">"analytics_url"</span>: <span class="blue">"<a href="https://api-aps.herokuapp.com/analytics" style="text-decoration: none !important">https://api-aps.herokuapp.com/analytics</a>"</span>
              <span>}</span> 
            </pre>
          </div>

          <h1>José Filipe Ferreira</h1>
        </div>
      </div>
    </section>
  </body>
</html>
