body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: rgb(3, 196, 154);
}
img {
  max-width: 100%;
}
nav {
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 40px;
}
nav h1 {
  margin-right: auto;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.offers, .products {
  display: flex;
  gap: 20px;
}

.button{
  background: #04AA6D;
  margin: 15px 5px;
  border-radius: 0.875rem!important;
  border: none!important;
  font-family: Arial,serif!important;
  color: #ffffff!important;
  padding: 7px 10px!important;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.tipButton{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin: 1rem 2px;
  border-radius: 8px;
  cursor: pointer;
}

textarea {
  width: 960px;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

@media only screen and (max-width: 1250px) {
  textarea {
    width: 500px;
  }
}

@media only screen and (max-width: 600px) {
  textarea {
    width: 300px;
  }
}

.subtitle{

}