body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sect3 h2 {
  color: rgb(167 48 65);
  font-size: 2rem;
}

.sect3 h1 {
  font-size: 2.5rem;
  color: #09253e;
}

.sect3 {
  background-color: rgb(206, 217, 226);
  width: 100%;
  height: 100vh;
}

.text-center {
  text-align: center !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 250px;
}

.json {
  text-align: left !important;
  margin: 0 auto;
  text-align: left;
  width: 700px;
}
.green {
  color: #007700;
}
.blue {
  color: blue;
}
pre a {
  color: blue;
}
